## editors
/.idea
/.vscode

## system files
.DS_Store

target/
node_modules/
dist/
.cargo/
.hc*
dna/workdir/dna*/*.dna
dna/workdir/happ*/*.happ
workdir/*.webhapp
*.tsbuildinfo
.running
electron/web/*.js
electron/web/*.map
electron/web/index.html
ui/apps/ludotheque/*.zip